/*Ejercicios1*/
.contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pxº;
}

.encabezado {
    background-image: url("../imgs/guesteaus.png");
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    height: 30px;
}

.menu {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.menu:hover {
    transition: color 0.3s ease;
    color: #8b6f47;
}

.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.sidebar {
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.pie {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

/*Ejercicios2*/
.encabezado {
    background-image: url("../imgs/guesteaus.png");
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    height: 30px;
    text-shadow: 1px 1px white;
}
.encabezadoimg{
    width: 5%;
    object-fit: cover;
    position: absolute;
    top: auto;
    left: 80px;
    right: auto;
}
    
.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

/*Ejercicios3*/
.menu {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.menu:hover {
    transition: color 0.3s ease;
    color: #5a3e36;
    border-style: double;
}

/*Ejercicios4*/
.contenido {
    float: left;
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.sidebar {
    float: right;
    width: 30%;
}

#contenedor::after {
    content: "";
    display: table;
    clear: both;
}

/*@media screen and (max-width: 768px)*/
/*Ejercicios5*/
/*Ejercicios6*/
.menu ul li a:hover {
    color: #8b6f47;
    font-size: 18px;
    transition: 0.3s;
}